<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Reactor - Bootstrap Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- build:css({.tmp,app}) styles/app.min.css -->
    <link rel="stylesheet" href="~/Content/styles/webfont.css">
    <link rel="stylesheet" href="~/Content/styles/climacons-font.css">
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/styles/font-awesome.css">
    <link rel="stylesheet" href="~/Content/styles/card.css">
    <link rel="stylesheet" href="~/Content/styles/sli.css">
    <link rel="stylesheet" href="~/Content/styles/animate.css">
    <link rel="stylesheet" href="~/Content/styles/app.css">
    <link rel="stylesheet" href="~/Content/styles/app.skins.css">
    <!-- endbuild -->
</head>
    <body class="page-loading">
    <!-- page loading spinner -->
    <div class="pageload">
        <div class="pageload-inner">
            <div class="sk-rotating-plane"></div>
        </div>
    </div>
    <!-- /page loading spinner -->
    <div class="main-content">
        @RenderBody()
    </div>
    <script src="~/Content/scripts/helpers/modernizr.js"></script>
    <script src="~/Content/vendor/jquery/dist/jquery.js"></script>
    <script src="~/Content/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Content/vendor/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/Content/scripts/helpers/smartresize.js"></script>
    <script src="~/Content/scripts/constants.js"></script>
    <script src="~/Content/scripts/main.js"></script>
</body>


</html>